node_modules/
.next/
dist/
build/
coverage/
.turbo/

.env*
*.log
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-store/

.DS_Store
.idea/
.vscode/

prisma/*.db
prisma/*.sqlite
prisma/migrations/*/steps.json

playwright-report/
test-results/
lighthouseci/

tmp/
